<h2>Browse Feeds</h2>
<p>Subscribe to feeds you'd like to see on your <%= link_to 'Dashboard', root_path %></p>
<div class="feed-bin"></div>
<p id="disclaimer">FeedNet claims no responsibility for the contents of external feeds</p>
<script type="text/javascript">
$(function() {
        fEngine = new feedEngine('browse');
});
</script>

