<% if user_signed_in? %>
	<h2>Your Feeds</h2>
	<p>Your can get more feeds by <%= link_to 'browsing available feeds', 'browse' %> or <%= link_to 'adding your own', 'add_feed' %></p>
<% else %>
	<h2>Popular Feeds</h2>
<% end %>
<div class="feed-bin"></div>
<p class="disclaimer">FeedNet claims no responsibility for the contents of external feeds</p>
<script type="text/javascript">
$(function() {
	fEngine = new feedEngine();
});
</script>
