div.feed-bin {
	div.single-feed {
		div.feed-post:not(:last-of-type) {
			border-bottom: solid 1px #DDD;
		}
    
    div.panel-heading {
      h3.panel-title {
        float: left;
      }
      
      div.feed-icons {
        float: right;
      }
      
      span {
        border-radius: 4px;
        padding: 3px;
        margin: -2px;
        background-color: #D5D5D5;
        cursor: pointer;
        margin-left: 5px;
      }
      
      span:active {
        background-color: #A8A8A8;
      }
      
      height: 2.5em;
    }
	}
  
  div.single-feed.blacklisted {
    background-color: #FFDBDB;
  }
}

div.devise-panel {
	max-width: 300px;
	min-width: 250px;
	margin: auto;
	
	div.input-group > input {
		margin-bottom: 10px;
	}
	
	form ~ div.after-links > * {
		float: right;
		clear: both;
	}
	
	form ~ div.after-links {
		margin-top: -2em;
	}
}

p#disclaimer {
	position: fixed;
	bottom: 0px;
}
