div.feed-bin {
	div.single-feed {
		div.feed-post:not(:last-of-type) {
			border-bottom: solid 1px #DDD;
		}
	}
}

div.devise-panel {
	max-width: 300px;
	min-width: 250px;
	margin: auto;
	
	div.input-group > input {
		margin-bottom: 10px;
	}
	
	form ~ div.after-links > * {
		float: right;
		clear: both;
	}
	
	form ~ div.after-links {
		margin-top: -2em;
	}
}
